body {
  margin: 0;
  font-weight: 500;
  font-family: Pretendard, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Pretendard, sans-serif;
}
